[submodule "kernel/prebuilts/build-tools"]
	path = prebuilts/fullsdk-linux/kernel-build-tools
	url = https://android.googlesource.com/kernel/prebuilts/build-tools
[submodule "platform/build"]
	path = build/make
	url = https://android.googlesource.com/platform/build
[submodule "platform/external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://android.googlesource.com/platform/external/abseil-cpp
[submodule "platform/external/dokka"]
	path = external/dokka
	url = https://android.googlesource.com/platform/external/dokka
[submodule "platform/external/google-benchmark"]
	path = external/google-benchmark
	url = https://android.googlesource.com/platform/external/google-benchmark
[submodule "platform/external/icing"]
	path = external/icing
	url = https://android.googlesource.com/platform/external/icing
[submodule "platform/external/icu"]
	path = external/icu
	url = https://android.googlesource.com/platform/external/icu
[submodule "platform/external/ink-stroke-modeler"]
	path = external/ink-stroke-modeler
	url = https://android.googlesource.com/platform/external/ink-stroke-modeler
[submodule "platform/external/libyuv"]
	path = external/libyuv
	url = https://android.googlesource.com/platform/external/libyuv
[submodule "platform/external/noto-fonts"]
	path = external/noto-fonts
	url = https://android.googlesource.com/platform/external/noto-fonts
[submodule "platform/external/protobuf"]
	path = external/protobuf
	url = https://android.googlesource.com/platform/external/protobuf
[submodule "platform/external/webview_support_interfaces"]
	path = external/webview_support_interfaces
	url = https://android.googlesource.com/platform/external/webview_support_interfaces
[submodule "platform/frameworks/support"]
	path = frameworks/support
	url = https://android.googlesource.com/platform/frameworks/support
[submodule "platform/frameworks/support-golden"]
	path = golden
	url = https://android.googlesource.com/platform/frameworks/support-golden
[submodule "platform/prebuilts/androidx/exoplayer"]
	path = prebuilts/androidx/exoplayer
	url = https://android.googlesource.com/platform/prebuilts/androidx/exoplayer
[submodule "platform/prebuilts/androidx/external"]
	path = prebuilts/androidx/external
	url = https://android.googlesource.com/platform/prebuilts/androidx/external
[submodule "platform/prebuilts/androidx/internal"]
	path = prebuilts/androidx/internal
	url = https://android.googlesource.com/platform/prebuilts/androidx/internal
[submodule "platform/prebuilts/androidx/konan"]
	path = prebuilts/androidx/konan
	url = https://android.googlesource.com/platform/prebuilts/androidx/konan
[submodule "platform/prebuilts/androidx/traceprocessor"]
	path = prebuilts/androidx/traceprocessor
	url = https://android.googlesource.com/platform/prebuilts/androidx/traceprocessor
[submodule "platform/prebuilts/build-tools"]
	path = prebuilts/build-tools
	url = https://android.googlesource.com/platform/prebuilts/build-tools
[submodule "platform/prebuilts/checkstyle"]
	path = prebuilts/checkstyle
	url = https://android.googlesource.com/platform/prebuilts/checkstyle
[submodule "platform/prebuilts/cmake/darwin-x86"]
	path = prebuilts/fullsdk-darwin/cmake
	url = https://android.googlesource.com/platform/prebuilts/cmake/darwin-x86
[submodule "platform/prebuilts/cmake/linux-x86"]
	path = prebuilts/fullsdk-linux/cmake
	url = https://android.googlesource.com/platform/prebuilts/cmake/linux-x86
[submodule "platform/prebuilts/fullsdk-darwin/build-tools"]
	path = prebuilts/fullsdk-darwin/build-tools
	url = https://android.googlesource.com/platform/prebuilts/fullsdk-darwin/build-tools
[submodule "platform/prebuilts/fullsdk-darwin/platform-tools"]
	path = prebuilts/fullsdk-darwin/platform-tools
	url = https://android.googlesource.com/platform/prebuilts/fullsdk-darwin/platform-tools
[submodule "platform/prebuilts/fullsdk-darwin/tools"]
	path = prebuilts/fullsdk-darwin/tools
	url = https://android.googlesource.com/platform/prebuilts/fullsdk-darwin/tools
[submodule "platform/prebuilts/fullsdk-linux/build-tools"]
	path = prebuilts/fullsdk-linux/build-tools
	url = https://android.googlesource.com/platform/prebuilts/fullsdk-linux/build-tools
[submodule "platform/prebuilts/fullsdk-linux/platform-tools"]
	path = prebuilts/fullsdk-linux/platform-tools
	url = https://android.googlesource.com/platform/prebuilts/fullsdk-linux/platform-tools
[submodule "platform/prebuilts/fullsdk-linux/tools"]
	path = prebuilts/fullsdk-linux/tools
	url = https://android.googlesource.com/platform/prebuilts/fullsdk-linux/tools
[submodule "platform/prebuilts/fullsdk/platforms"]
	path = prebuilts/fullsdk-darwin/platforms
	url = https://android.googlesource.com/platform/prebuilts/fullsdk/platforms
[submodule "platform/prebuilts/fullsdk/sources"]
	path = prebuilts/fullsdk-darwin/sources
	url = https://android.googlesource.com/platform/prebuilts/fullsdk/sources
[submodule "platform/prebuilts/jdk/jdk17"]
	path = prebuilts/jdk/jdk17
	url = https://android.googlesource.com/platform/prebuilts/jdk/jdk17
[submodule "platform/prebuilts/jdk/jdk8"]
	path = prebuilts/jdk/jdk8
	url = https://android.googlesource.com/platform/prebuilts/jdk/jdk8
[submodule "platform/prebuilts/ninja/darwin-x86"]
	path = prebuilts/fullsdk-darwin/ninja
	url = https://android.googlesource.com/platform/prebuilts/ninja/darwin-x86
[submodule "platform/prebuilts/ninja/linux-x86"]
	path = prebuilts/fullsdk-linux/ninja
	url = https://android.googlesource.com/platform/prebuilts/ninja/linux-x86
[submodule "platform/prebuilts/protobuf"]
	path = prebuilts/protobuf
	url = https://android.googlesource.com/platform/prebuilts/protobuf
[submodule "platform/tools/dexter"]
	path = external/dexter
	url = https://android.googlesource.com/platform/tools/dexter
[submodule "platform/tools/external/gradle"]
	path = tools/external/gradle
	url = https://android.googlesource.com/platform/tools/external/gradle
[submodule "platform/tools/metalava"]
	path = tools/metalava
	url = https://android.googlesource.com/platform/tools/metalava
[submodule "platform/tools/repohooks"]
	path = tools/repohooks
	url = https://android.googlesource.com/platform/tools/repohooks
[submodule "toolchain/prebuilts/ndk-darwin/r23"]
	path = prebuilts/fullsdk-darwin/ndk-bundle
	url = https://android.googlesource.com/toolchain/prebuilts/ndk-darwin/r23
[submodule "toolchain/prebuilts/ndk/r23"]
	path = prebuilts/fullsdk-linux/ndk-bundle
	url = https://android.googlesource.com/toolchain/prebuilts/ndk/r23
[submodule "tools/fetch_artifact"]
	path = tools/fetch_artifact
	url = https://android.googlesource.com/tools/fetch_artifact
