[submodule "platform/bionic"]
	branch = main
	path = bionic
	url = ../bionic
[submodule "platform/build"]
	branch = main
	path = build/make
	url = ../build
[submodule "platform/build/bazel"]
	branch = main
	path = build/bazel
	url = ../build/bazel
[submodule "platform/build/bazel_common_rules"]
	branch = main
	path = build/bazel_common_rules
	url = ../build/bazel_common_rules
[submodule "platform/build/blueprint"]
	branch = main
	path = build/blueprint
	url = ../build/blueprint
[submodule "platform/build/kati"]
	branch = main
	path = build/kati
	url = ../build/kati
[submodule "platform/build/soong"]
	branch = main
	path = build/soong
	url = ../build/soong
[submodule "platform/dalvik"]
	branch = main
	path = dalvik
	url = ../dalvik
[submodule "platform/development"]
	branch = main
	path = development
	url = ../development
[submodule "platform/external/abseil-cpp"]
	branch = main
	path = external/abseil-cpp
	url = ../external/abseil-cpp
[submodule "platform/external/bazel-skylib"]
	branch = main
	path = external/bazel-skylib
	url = ../external/bazel-skylib
[submodule "platform/external/bazelbuild-kotlin-rules"]
	branch = main
	path = external/bazelbuild-kotlin-rules
	url = ../external/bazelbuild-kotlin-rules
[submodule "platform/external/bazelbuild-rules_android"]
	branch = main
	path = external/bazelbuild-rules_android
	url = ../external/bazelbuild-rules_android
[submodule "platform/external/bazelbuild-rules_go"]
	branch = main
	path = external/bazelbuild-rules_go
	url = ../external/bazelbuild-rules_go
[submodule "platform/external/bazelbuild-rules_java"]
	branch = main
	path = external/bazelbuild-rules_java
	url = ../external/bazelbuild-rules_java
[submodule "platform/external/bazelbuild-rules_license"]
	branch = main
	path = external/bazelbuild-rules_license
	url = ../external/bazelbuild-rules_license
[submodule "platform/external/boringssl"]
	branch = main
	path = external/boringssl
	url = ../external/boringssl
[submodule "platform/external/clang"]
	branch = main
	path = external/clang
	url = ../external/clang
[submodule "platform/external/compiler-rt"]
	branch = main
	path = external/compiler-rt
	url = ../external/compiler-rt
[submodule "platform/external/fmtlib"]
	branch = main
	path = external/fmtlib
	url = ../external/fmtlib
[submodule "platform/external/gflags"]
	branch = main
	path = external/gflags
	url = ../external/gflags
[submodule "platform/external/go-cmp"]
	branch = main
	path = external/go-cmp
	url = ../external/go-cmp
[submodule "platform/external/go-creachadair-shell"]
	branch = main
	path = external/go-creachadair-shell
	url = ../external/go-creachadair-shell
[submodule "platform/external/go-creachadair-stringset"]
	branch = main
	path = external/go-creachadair-stringset
	url = ../external/go-creachadair-stringset
[submodule "platform/external/go-etree"]
	branch = main
	path = external/go-etree
	url = ../external/go-etree
[submodule "platform/external/go-subcommands"]
	branch = main
	path = external/go-subcommands
	url = ../external/go-subcommands
[submodule "platform/external/golang-protobuf"]
	branch = main
	path = external/golang-protobuf
	url = ../external/golang-protobuf
[submodule "platform/external/golang-x-sync"]
	branch = main
	path = external/golang-x-sync
	url = ../external/golang-x-sync
[submodule "platform/external/golang-x-sys"]
	branch = main
	path = external/golang-x-sys
	url = ../external/golang-x-sys
[submodule "platform/external/golang-x-tools"]
	branch = main
	path = external/golang-x-tools
	url = ../external/golang-x-tools
[submodule "platform/external/googletest"]
	branch = main
	path = external/googletest
	url = ../external/googletest
[submodule "platform/external/icu"]
	branch = main
	path = external/icu
	url = ../external/icu
[submodule "platform/external/jsoncpp"]
	branch = main
	path = external/jsoncpp
	url = ../external/jsoncpp
[submodule "platform/external/kythe"]
	branch = main
	path = external/kythe
	url = ../external/kythe
[submodule "platform/external/libcxx"]
	branch = main
	path = external/libcxx
	url = ../external/libcxx
[submodule "platform/external/libcxxabi"]
	branch = main
	path = external/libcxxabi
	url = ../external/libcxxabi
[submodule "platform/external/libunwind"]
	branch = main
	path = external/libunwind
	url = ../external/libunwind
[submodule "platform/external/libunwind_llvm"]
	branch = main
	path = external/libunwind_llvm
	url = ../external/libunwind_llvm
[submodule "platform/external/licenseclassifier"]
	branch = main
	path = external/licenseclassifier
	url = ../external/licenseclassifier
[submodule "platform/external/llvm"]
	branch = main
	path = external/llvm
	url = ../external/llvm
[submodule "platform/external/ninja"]
	branch = main
	path = external/ninja
	url = ../external/ninja
[submodule "platform/external/protobuf"]
	branch = main
	path = external/protobuf
	url = ../external/protobuf
[submodule "platform/external/python/cpython3"]
	branch = main
	path = external/python/cpython3
	url = ../external/python/cpython3
[submodule "platform/external/rapidjson"]
	branch = main
	path = external/rapidjson
	url = ../external/rapidjson
[submodule "platform/external/regex-re2"]
	branch = main
	path = external/regex-re2
	url = ../external/regex-re2
[submodule "platform/external/rust/android-crates-io"]
	branch = main
	path = external/rust/android-crates-io
	url = ../external/rust/android-crates-io
[submodule "platform/external/spdx-tools"]
	branch = main
	path = external/spdx-tools
	url = ../external/spdx-tools
[submodule "platform/external/sqlite"]
	branch = main
	path = external/sqlite
	url = ../external/sqlite
[submodule "platform/external/starlark-go"]
	branch = main
	path = external/starlark-go
	url = ../external/starlark-go
[submodule "platform/external/zlib"]
	branch = main
	path = external/zlib
	url = ../external/zlib
[submodule "platform/external/zopfli"]
	branch = main
	path = external/zopfli
	url = ../external/zopfli
[submodule "platform/prebuilts/bazel/common"]
	branch = main
	shallow = true
	path = prebuilts/bazel/common
	url = ../prebuilts/bazel/common
[submodule "platform/prebuilts/bazel/darwin-x86_64"]
	branch = main
	shallow = true
	path = prebuilts/bazel/darwin-x86_64
	url = ../prebuilts/bazel/darwin-x86_64
[submodule "platform/prebuilts/bazel/linux-x86_64"]
	branch = main
	shallow = true
	path = prebuilts/bazel/linux-x86_64
	url = ../prebuilts/bazel/linux-x86_64
[submodule "platform/prebuilts/build-tools"]
	branch = main
	shallow = true
	path = prebuilts/build-tools
	url = ../prebuilts/build-tools
[submodule "platform/prebuilts/clang-tools"]
	branch = main
	shallow = true
	path = prebuilts/clang-tools
	url = ../prebuilts/clang-tools
[submodule "platform/prebuilts/clang/host/darwin-x86"]
	branch = main
	shallow = true
	path = prebuilts/clang/host/darwin-x86
	url = ../prebuilts/clang/host/darwin-x86
[submodule "platform/prebuilts/clang/host/linux-x86"]
	branch = main
	shallow = true
	path = prebuilts/clang/host/linux-x86
	url = ../prebuilts/clang/host/linux-x86
[submodule "platform/prebuilts/gcc/darwin-x86/host/headers"]
	branch = main
	shallow = true
	path = prebuilts/gcc/darwin-x86/host/headers
	url = ../prebuilts/gcc/darwin-x86/host/headers
[submodule "platform/prebuilts/gcc/darwin-x86/host/i686-apple-darwin-4.2.1"]
	branch = main
	shallow = true
	path = prebuilts/gcc/darwin-x86/host/i686-apple-darwin-4.2.1
	url = ../prebuilts/gcc/darwin-x86/host/i686-apple-darwin-4.2.1
[submodule "platform/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8"]
	branch = main
	shallow = true
	path = prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8
	url = ../prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.15-4.8
[submodule "platform/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8"]
	branch = main
	shallow = true
	path = prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
	url = ../prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8
[submodule "platform/prebuilts/go/darwin-x86"]
	branch = main
	shallow = true
	path = prebuilts/go/darwin-x86
	url = ../prebuilts/go/darwin-x86
[submodule "platform/prebuilts/go/linux-x86"]
	branch = main
	shallow = true
	path = prebuilts/go/linux-x86
	url = ../prebuilts/go/linux-x86
[submodule "platform/prebuilts/jdk/jdk11"]
	branch = main
	shallow = true
	path = prebuilts/jdk/jdk11
	url = ../prebuilts/jdk/jdk11
[submodule "platform/prebuilts/jdk/jdk8"]
	branch = main
	shallow = true
	path = prebuilts/jdk/jdk8
	url = ../prebuilts/jdk/jdk8
[submodule "platform/prebuilts/jdk/jdk9"]
	branch = main
	shallow = true
	path = prebuilts/jdk/jdk9
	url = ../prebuilts/jdk/jdk9
[submodule "platform/prebuilts/misc"]
	branch = main
	shallow = true
	path = prebuilts/misc
	url = ../prebuilts/misc
[submodule "platform/prebuilts/ninja/darwin-x86"]
	branch = main
	shallow = true
	path = prebuilts/ninja/darwin-x86
	url = ../prebuilts/ninja/darwin-x86
[submodule "platform/prebuilts/ninja/linux-x86"]
	branch = main
	shallow = true
	path = prebuilts/ninja/linux-x86
	url = ../prebuilts/ninja/linux-x86
[submodule "platform/prebuilts/rust"]
	branch = main
	shallow = true
	path = prebuilts/rust
	url = ../prebuilts/rust
[submodule "platform/system/core"]
	branch = main
	path = system/core
	url = ../system/core
[submodule "platform/system/libbase"]
	branch = main
	path = system/libbase
	url = ../system/libbase
[submodule "platform/system/libziparchive"]
	branch = main
	path = system/libziparchive
	url = ../system/libziparchive
[submodule "platform/system/logging"]
	branch = main
	path = system/logging
	url = ../system/logging
[submodule "platform/system/tools/aidl"]
	branch = main
	path = system/tools/aidl
	url = ../system/tools/aidl
