/tools/assets remote-review=android
/build/bazel remote-review=android
/external/doclava remote-review=android
/external/dokka pdk remote-review=android
/external/gflags remote-review=android
/tools/vendor/ggml-org/llama.cpp remote-review=android
/external/googletest remote-review=android
/external/gradle-profiler remote-review=android
/external/intellij-plugins remote-review=android
/external/jarjar remote-review=android
/external/jetbrains/kotlin remote-review=android
/tools/vendor/modelcontextprotocol/kotlin-sdk remote-review=android
/external/nanopb-c remote-review=android
/external/python/absl-py remote-review=android
/tools/vendor/redhat-developer/lsp4ij remote-review=android
/tools/data-binding remote-review=android
/frameworks/layoutlib notdefault layoutlib remote-review=android
/prebuilts/android-emulator remote-review=android
/prebuilts/bazel/darwin-x86_64 notdefault platform-darwin remote-review=android
/prebuilts/bazel/linux-x86_64 platform-linux notdefault remote-review=android
/prebuilts/bazel/windows-x86_64 notdefault platform-windows remote-review=android
/prebuilts/clang/host/darwin-x86 notdefault platform-darwin remote-review=android
/prebuilts/clang/host/linux-x86 platform-linux notdefault remote-review=android
/prebuilts/clang/host/windows-x86 notdefault platform-windows remote-review=android
/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8 platform-linux notdefault remote-review=android
/prebuilts/python/darwin-x86 remote-review=android
/prebuilts/python/linux-x86 remote-review=android
/prebuilts/python/windows-x86 remote-review=android
/prebuilts/r8 remote-review=android
/prebuilts/studio/jdk remote-review=android
/prebuilts/studio/layoutlib remote-review=android
/prebuilts/tools remote-review=android
/external/android/system/logging remote-review=android
/tools/adt/idea remote-review=android
/tools/analytics-library remote-review=android
/tools/apksig remote-review=android
/tools/apkzlib remote-review=android
/tools/base remote-review=android
/tools/buildSrc remote-review=android
/external/dexter remote-review=android
/tools/emulator remote-review=android
/tools/external/bazelbuild-rules-kotlin remote-review=android
/tools/external/fat32lib remote-review=android
/tools/external/gradle remote-review=android
/tools/gpu-profiler/idea remote-review=android
/tools/gradle remote-review=android
/tools/gradle-recipes remote-review=android
/tools/idea remote-review=android
/tools/repohooks remote-review=android
/tools/studio/google/cloud/testing remote-review=android
